In [1]:
import os
import pandas as pd
from sklearn import tree
from sklearn import ensemble

In [2]:
import pydotplus
import io

In [3]:
os.getcwd()

'C:\\Users\\madha'

In [4]:
os.chdir("C:\\Users\\madha")

In [26]:
os.environ["PATH"] += os.pathsep + 'C:/Program Files (x86)/Graphviz/bin/'

In [27]:
titanic_train = pd.read_csv("train.csv")

In [28]:
titanic_train.shape
titanic_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [29]:
titanic_train1 = pd.get_dummies(titanic_train, columns=['Pclass', 'Sex', 'Embarked'])
titanic_train1.shape
titanic_train1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Name         891 non-null    object
 3   Age          714 non-null    float64
 4   SibSp        891 non-null    int64
 5   Parch        891 non-null    int64
 6   Ticket       891 non-null    object
 7   Fare         891 non-null    float64
 8   Cabin        204 non-null    object
 9   Pclass_1     891 non-null    uint8
 10  Pclass_2     891 non-null    uint8
 11  Pclass_3     891 non-null    uint8
 12  Sex_female   891 non-null    uint8
 13  Sex_male     891 non-null    uint8
 14  Embarked_C   891 non-null    uint8
 15  Embarked_Q   891 non-null    uint8
 16  Embarked_S   891 non-null    uint8
dtypes: float64(2), int64(4), object(3), uint8(8)
memory usage: 69.7+ KB

In [30]:
X_train = titanic_train1.drop(['PassengerId','Age','Cabin','Ticket', 'Name','Survived'],axis=1)
y_train = titanic_train['Survived']

In [31]:
dt_estimator = tree.DecisionTreeClassifier()

In [32]:
ada_tree_estimator1 = ensemble.AdaBoostClassifier(base_estimator = dt_estimator, n_estimators = 5, learning_rate =0.2, random_state=2017)

In [33]:
ada_tree_estimator1.fit(X_train, y_train)

AdaBoostClassifier(base_estimator=DecisionTreeClassifier(), learning_rate=0.2,
                   n_estimators=5, random_state=2017)

In [34]:
n_tree = 0
for est in ada_tree_estimator1.estimators_: 
    dot_data = io.StringIO()
    tree.export_graphviz(est, out_file = dot_data, feature_names = X_train.columns)
    graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
    graph.write_pdf("adatree" + str(n_tree) + ".pdf")
    n_tree = n_tree + 1

In [35]:
os.getcwd()

'C:\\Users\\madha'